In [1]:
a={}
a['a']='apple'
a['b']='ball'
a['c']='cat'
a

{'a': 'apple', 'b': 'ball', 'c': 'cat'}

In [2]:
#remove redundancy
a={'a':'apple','b':'ball','c':'cat'}
a['c']='cat'
a

{'a': 'apple', 'b': 'ball', 'c': 'cat'}

In [4]:
for i in a:
    print(i)

a
b
c

In [5]:
for i in a.items():
    print(i)

('a', 'apple')
('b', 'ball')
('c', 'cat')

In [ ]:
#dict
#a={'<index'>:'<value>',<'index>':"<value>",......}

In [6]:
del a['a']
a

{'b': 'ball', 'c': 'cat'}

In [7]:
a={'a':'apple','b':'ball','c':''}
b=a.pop('a')
print(a)
print(b)

{'b': 'ball', 'c': ''}
apple

In [ ]:
#imp
#clear()=clear all item
#
#

In [8]:
a={'a':'apple','b':'ball','c':''}
a.clear()
a

{}

In [9]:
a={}
n=int(input("Enter value of n= "))
for i in range(1,n+1):
    #(1,n+1)=1 to n
    name=input("Emter name= ")
    a[i]=name
print(a)

Enter value of n= 4
Emter name= ram
Emter name= sam
Emter name= hari
Emter name= gopal
{1: 'ram', 2: 'sam', 3: 'hari', 4: 'gopal'}

In [10]:
a={}
name='Aksh'
age=23
add="kir"
a={"Name=":name,"Age":'age','Address':add}
print(a)

{'Name=': 'Aksh', 'Age': 'age', 'Address': 'kir'}

In [12]:
a={}
n=int(input("Enter n="))
for i in range(n):
    name=input("Enter name= ")
    age=input("Enter age= ")
    add=input("Enter address= ")
    a={"Name=":name,"Age":age,'Address':add}
print(a)

Enter n=2
Enter name= sd
Enter age= 23
Enter address= krm
Enter name= sam
Enter age= 52
Enter address= kitm
{'Name=': 'sam', 'Age': '52', 'Address': 'kitm'}

In [13]:
a={'a':'Apple','b':'Ball'}
b={'c':'cat'}
a.update(b)
a

{'a': 'Apple', 'b': 'Ball', 'c': 'cat'}

In [14]:
a={'a':'Apple','b':'Ball'}
b={'c':'cat'}
b.update(a)
b

{'c': 'cat', 'a': 'Apple', 'b': 'Ball'}

In [15]:
#dict inside dict
a={1:{'name':'abc','age':'32'},
  2:{'name':'abc','age':'32'},
  3:{'name':'abc','age':'32'},
  4:{'name':'abc','age':'32'}}
a

{1: {'name': 'abc', 'age': '32'},
 2: {'name': 'abc', 'age': '32'},
 3: {'name': 'abc', 'age': '32'},
 4: {'name': 'abc', 'age': '32'}}

In [16]:
a={1:{'name':'abc','age':'32'},
  2:{'name':'abc','age':'32'},
  3:{'name':'abc','age':'32'},
  4:{'name':'abc','age':'32'}}
print(a)

{1: {'name': 'abc', 'age': '32'}, 2: {'name': 'abc', 'age': '32'}, 3: {'name': 'abc', 'age': '32'}, 4: {'name': 'abc', 'age': '32'}}

In [18]:
a={1:{'name':'abc','age':'32'},
  2:{'name':'abc','age':'32'},
  3:{'name':'abc','age':'32'},
  4:{'name':'sf','age':'2'}}
print(a)
print(a[4])

{1: {'name': 'abc', 'age': '32'}, 2: {'name': 'abc', 'age': '32'}, 3: {'name': 'abc', 'age': '32'}, 4: {'name': 'sf', 'age': '2'}}
{'name': 'sf', 'age': '2'}

In [19]:
a={1:{'name':'abc','age':'32'},
  2:{'name':'abc','age':'32'},
  3:{'name':'abc','age':'32'}}
a[4]={'name':'Sita','age':'36'}
a

{1: {'name': 'abc', 'age': '32'},
 2: {'name': 'abc', 'age': '32'},
 3: {'name': 'abc', 'age': '32'},
 4: {'name': 'Sita', 'age': '36'}}

In [20]:
#add a field in 1
a={1:{'name':'abc','age':'32'},
  2:{'name':'abc','age':'32'},
  3:{'name':'abc','age':'32'}}
a[1]['add']='Nepl'
a

{1: {'name': 'abc', 'age': '32', 'add': 'Nepl'},
 2: {'name': 'abc', 'age': '32'},
 3: {'name': 'abc', 'age': '32'}}

In [21]:
#update
a={1:{'name':'abc','age':'32'},
  2:{'name':'abc','age':'32'},
  3:{'name':'abc','age':'32'}}
a[1]['add']='Nepl'
a[1]['age']=22
a

{1: {'name': 'abc', 'age': 22, 'add': 'Nepl'},
 2: {'name': 'abc', 'age': '32'},
 3: {'name': 'abc', 'age': '32'}}

In [22]:
a={}
n=int(input("Enter no. of rows= "))
for i in range(1,n+1):
    name=input("Enter name= ")
    age=input("Enter age= ")
    add=input("Enter address= ")
    a[i]={'Name':name,'age':age,'address':add}
print(a)

Enter no. of rows= 2
Enter name= tam
Enter age= 34
Enter address= ktm
Enter name= sam
Enter age= 34
Enter address= bkt
{1: {'Name': 'tam', 'age': '34', 'address': 'ktm'}, 2: {'Name': 'sam', 'age': '34', 'address': 'bkt'}}

In [23]:
a={}
n=int(input("Enter no. of rows= "))
for i in range(1,n+1):
    name=input("Enter name= ")
    math=int(input("Enter marks= "))
    physics=int(input("Enter marks in physic= "))
    bio=int(input("Enter marks in bio= "))
    chemistry=input("Enter marks in chemistry= ")
    total=[math,physics,bio,chemistry]
    a[i]={'Name':name,'math':math,'physics':physics,'bio':bio,'chemistry':chemistry}
print(a)

Enter no. of rows= 2
Enter name= ram
Enter marks= 54
Enter marks in physic= 24
Enter marks in bio= 56
Enter marks in chemistry= 44
Enter name= Sam
Enter marks= 87
Enter marks in physic= 52
Enter marks in bio= 14
Enter marks in chemistry= 36
{1: {'Name': 'ram', 'math': 54, 'physics': 24, 'bio': 56, 'chemistry': '44'}, 2: {'Name': 'Sam', 'math': 87, 'physics': 52, 'bio': 14, 'chemistry': '36'}}

In [29]:
a=[]
naam=[]
mat=[]
physic=[]
bo=[]
chemist=[]
tota=[]
n=int(input("Enter no. of rows= "))
for i in range(1,n+1):
    name=input("Enter name= ")
    math=int(input("Enter marks= "))
    physics=int(input("Enter marks in physic= "))
    bio=int(input("Enter marks in bio= "))
    chemistry=int(input("Enter marks in chemistry= "))
    total=sum([math,physics,bio,chemistry])
    naam.append(name)
    mat.append(math)
    physic.append(physics)
    bo.append(bio)
    chemist.append(chemistry)
    tota.append(total)
    a={'Name':naam,'MAth':mat,'Physics':physic,'bio':bo,'chemistry':chemist,'total':tota}
print(a)

Enter no. of rows= 2
Enter name= ram
Enter marks= 41
Enter marks in physic= 52
Enter marks in bio= 75
Enter marks in chemistry= 85
Enter name= sam
Enter marks= 52
Enter marks in physic= 01
Enter marks in bio= 23
Enter marks in chemistry= 45
{'Name': ['ram', 'sam'], 'MAth': [41, 52], 'Physics': [52, 1], 'bio': [75, 23], 'chemistry': [85, 45], 'total': [253, 121]}

In [35]:
a={}
n=int(input("Enter no. of rows= "))
for i in range(1,n+1):
    name=input("Enter name= ")
    math=float(input("Enter marks= "))
    physics=float(input("Enter marks in physic= "))
    bio=float(input("Enter marks in bio= "))
    chemistry=float(input("Enter marks in chemistry= "))
    total=[math,physics,bio,chemistry]
    print("Percentage is",(total/4))
    a[i]={'Name':name,'math':math,'physics':physics,'bio':bio,'chemistry':chemistry,'Percentage':per}
    
        
print(a)

Enter no. of rows= 1
Enter name= rajiv
Enter marks= 58
Enter marks in physic= 74
Enter marks in bio= 45
Enter marks in chemistry= 69

TypeError: unsupported operand type(s) for /: 'list' and 'int'