In [2]:
n=int(input("Enter value of n="))
for i in range(1,n+1):
    print("i*n= ",i*n)

Enter value of n=3
i*n=  3
i*n=  6
i*n=  9

In [3]:
n=int(input("Enter value of n="))
for i in range(1,n+1):
    print("i*n= ",n*i)

Enter value of n=5
i*n=  5
i*n=  10
i*n=  15
i*n=  20
i*n=  25

In [11]:
x=1
n=int(input("Enter value of n="))
for i in range(1,n+1):
    x=x*i
    print("The factorial of n is:",x)

Enter value of n=5
The factorial of n is: 1
The factorial of n is: 2
The factorial of n is: 6
The factorial of n is: 24
The factorial of n is: 120

In [13]:
a=""
n=int(input("Enter n="))
for i in range(n):
    b=input("Enter first name= ")
    c=input("Enter middle name= ")
    d=input("Enter last name= ")
    a=a+b+" "+" "+c+" "+d+" "
    
print(a)

Enter n=2
Enter first name= puspa
Enter middle name= lal
Enter last name= shrestha
Enter first name= kanxi
Enter middle name= maya
Enter last name= thapa
puspa  lal shresthakanxi  maya thapa

In [14]:
a=('puspa','lal','shrestha')
a[1]

'lal'

In [19]:
a=('puspa','lal','shrestha')
b=list(a)
b[1]='mukti'
c=tuple(b)
print(c)

('puspa', 'mukti', 'shrestha')

In [8]:
import datetime
#import numpy as np

today=datetime.datetime.now()
print(today)
print(today.year)
print(today.strftime("%A"))
# yesterday=np.datetime46('today','D').np.timedelta64(1,'D')
# print("Yesterday= ",yesterday)
# today=np.datetime64('today','D')
# print("Today= ",today)
# tomorrow=np.datetime64('today','D')+np.timedelta64(1,'D')
# print("Tomorrow",tomorrow)

2020-03-04 11:20:29.413163
2020
Wednesday

In [9]:
#Json is syntax for storing and exchanging data

import json

#some json
x={"name":"puspa","age":22,"address":"ktm"}

#parse x:
y=json.loads(x)

print(y["age"])

TypeError: the JSON object must be str, bytes or bytearray, not dict

In [1]:
#file handling
a=open("practice.txt","a")
n=int(input("Enter value of n= "))
for i in range(n):
    name=input("Enter name = ")
    age=int(input("Enter age = "))
    add=input("Enter address = ")
    info=f"{name} {age} {add}\n"
    a.write(info)
a.close()

Enter value of n= 2
Enter name = puspa
Enter age = 22
Enter address = kirtipur
Enter name = kanxi
Enter age = 22
Enter address = ktm

In [7]:
infos=[]
a=open("practice.txt","r")
b=a.read()
c=b.split()
for i in c:
    infos.append(i.split())
a.close()
print(infos[0:-1])

[['puspa'], ['22'], ['kirtipur'], ['kanxi'], ['22']]

In [ ]:
a=open("marks.txt","a")
n=int(input("Enter no of students: "))
for i in range(n):
    name=input("Enter name here: ")
    roll=int(input("Enter roll no: "))
    math=float(input("Enter marks of math: "))
    acc=float(input("Enter marks of account: "))
    eco=float(input("Enter marks of economics: "))
    eng=float(input("Enter marks of english: "))
    marksheet=f"{name} {roll} {math} {acc} {eco} {eng}\n"

In [ ]:
information=[]
a=open("marks.txt","r")
b=a.read()
c=b.split()
for i in c:
    information.append(i.split())
a.close()
print(information[0:-1])

In [2]:
a=1
n=int(input("Entr n="))
for i in range(n):
    a=a*i
    print(a)

Entr n=2
0
0

In [3]:
#csv file
a=open('result.csv','a')
n=int(input("Enter value of n= "))
for i in range(n):
    name=input("Enter name= ")
    sec=input("Enter section= ")
    math=int(input("Enter marks in math= "))
    acc=int(input("Enter marks in account= "))
    eco=int(input("Enter marks in economics= "))
    b=f"{name},{sec},{math},{acc},{eco}\n"
    a.write(b)
a.close()

Enter value of n= 3
Enter name= sudip
Enter section= A
Enter marks in math= 84
Enter marks in account= 77
Enter marks in economics= 67
Enter name= Sushma
Enter section= B
Enter marks in math= 86
Enter marks in account= 85
Enter marks in economics= 77
Enter name= Samir
Enter section= B
Enter marks in math= 98
Enter marks in account= 78
Enter marks in economics= 54

In [2]:
import pandas as p
a=open("DAV.csv","a")
a.write('Roll_no,Name,Sec,Math,Account,Economics,English,Nepali,Total\n')
n=int(input("Enter value of n= "))
for i in range(n):
    roll=int(input("Enter roll here= ")) 
    name=input("Enter name= ")
    sec=input("Enter sec= ")
    add=input("Enter address= ")
    math=int(input("Enter marks in math= "))
    acc=int(input("Enter marks in account= "))
    eco=int(input("Enter marks in economcs= "))
    eng=int(input("Enter marks in english= "))
    nep=int(input("Enter marks in nepali= "))
   # total=sum(math,acc,eco,eng,nep)
    info=f"{roll},{name},{sec},{add},{acc},{eco},{eng},{nep}\n"
    a.write(info)
a.close()

Enter value of n= 2
Enter roll here= 32
Enter name= saili
Enter sec= G
Enter address= patan
Enter marks in math= 32
Enter marks in account= 54
Enter marks in economcs= 54
Enter marks in english= 43
Enter marks in nepali= 43
Enter roll here= 21
Enter name= maili
Enter sec= D
Enter address= koteswor
Enter marks in math= 98
Enter marks in account= 08
Enter marks in economcs= 32
Enter marks in english= 54
Enter marks in nepali= 54

import pandas as p
a=open("DAV.csv","a")
a.write('Roll_no,Name,Sec,Math,Account,Economics,English,Nepali,Total\n')
n=int(input("Enter value of n= "))
for i in range(n):
    roll=int(input("Enter roll here= ")) 
    name=input("Enter name= ")
    sec=input("Enter sec= ")
    add=input("Enter address= ")
    math=int(input("Enter marks in math= "))
    acc=int(input("Enter marks in account= "))
    eco=int(input("Enter marks in economcs= "))
    eng=int(input("Enter marks in english= "))
    nep=int(input("Enter marks in nepali= "))
    #total=sum(math,acc,eco,eng,nep)
    info=f"{roll},{name},{sec},{add},{acc},{eco},{eng},{nep}\n"
    a.write(info)

a.close()

In [5]:
import pandas as p
pd=p.read_csv("DAV.csv",index_col="Roll_no")
pd

          Name  Sec      Math  Account  Economics  English  Nepali  Total
Roll_no
Roll_no   Name  Sec      Math  Account  Economics  English  Nepali  Total
2        aalok    a        55       25         41       65     NaN    NaN
25       Samir    c        52       10         12       45     NaN    NaN
12       sudip    a        54       78         65       38     NaN    NaN
5         hari    z        98       79         58       68     NaN    NaN
17       puspa    a        45       65         38       56     NaN    NaN
23        devi    b        57       89         56       78     NaN    NaN
Roll_no   Name  Sec      Math  Account  Economics  English  Nepali  Total
Roll_no   Name  Sec      Math  Account  Economics  English  Nepali  Total
Roll_no   Name  Sec      Math  Account  Economics  English  Nepali  Total
32       saili    G     patan       54         54       43      43    NaN
21       maili    D  koteswor        8         32       54      54    NaN

In [23]:
import pandas as p
pd=p.read_csv("DAV.csv",index_col='Roll_no',usecols=['Roll_no','Name','Sec','Math','Account','Economics','English'])
pd.iloc(0:6,1:7)

SyntaxError: invalid syntax (<ipython-input-23-0ffc2a26581c>, line 3)

In [12]:
#add two point
class add:
    def __init__(self,x,y):
        self.x=x
        self.y=y
    def __str__(self):
        return f"{self.x},{self.y}"
    def __add__(self,other):
        x=self.x+other.x
        y=self.y+other.y
        #print(other.x)
        #print(other.y)
        return add(x,y)
x1=add(1,2)
y1=add(1,3)
sum=x1+y1
print(sum)

2,5

In [13]:
#add three point
class add:
    def __init__(self,x,y,z):
        self.x=x
        self.y=y
        self.z=z
    def __str__(self):
        return f"{self.x},{self.y},{self.z}"
    def __add__(self,other):
        x=self.x+other.x
        y=self.y+other.y
        z=self.z+other.z
        #print(other.x)
        #print(other.y)
        return add(x,y,z)
x1=add(1,2,3)
y1=add(1,2,3)
sum=x1+y1
print(sum)

2,4,6

In [16]:
#repr method
class Demo:
    def __init__(self,name,age):
        self.name=name
        self.age=age
    def __repr__(self):
        return {'name':self.name,'age':self.age}
obj1=Demo("Kanchii",18)
obj1.__repr__()

{'name': 'Kanchii', 'age': 18}