In [1]:
#tuple=Immutable=not changeable

In [2]:
a=(1,2,3,4,5)
print(a)
print(type(a))

(1, 2, 3, 4, 5)
<class 'tuple'>

In [3]:
tuple('sdfvcsaf')

('s', 'd', 'f', 'v', 'c', 's', 'a', 'f')

In [4]:
list('mdnsjsjbbd')

['m', 'd', 'n', 's', 'j', 's', 'j', 'b', 'b', 'd']

In [5]:
a=(1,2,3,4,5,6)
a[0]

1

In [7]:
a=(1,2,3,4,5,6)
a[0:5]

(1, 2, 3, 4, 5)

In [8]:
a=(1,2,3,4,5,6)
a[0:5:2]

(1, 3, 5)

In [10]:
a=('Apple')
type(a)

str

In [11]:
a=('ball',)
type(a)

tuple

In [13]:
a=('all','boss')
b=('are_good',)
a+b

('all', 'boss', 'are_good')

In [14]:
a=()
for i in range(5):
    b=int(input("Enter b= "))
    a=a+(b,)
print(a)

Enter b= 5
Enter b= 2
Enter b= 4
Enter b= 1
Enter b= 3
(5, 2, 4, 1, 3)

In [15]:
a=()
for i in range(5):
    b=int(input("Enter b= "))
    a=(b,)+a
print(a)

Enter b= 5
Enter b= 4
Enter b= 7
Enter b= 8
Enter b= 6
(6, 8, 7, 4, 5)

In [ ]:
a=()
for i in range(5):
    b=int(input("Enter b= "))
    a=(b,)+a
print(a)

In [1]:
min(54,54,87,95,63,21)
max(21,24,52,.65,54)

54

In [2]:
a=('apple','ball','cat')
for i in a:
    print(i)

apple
ball
cat

In [3]:
a=('apple','ball','cat')
if 'apple' in a:
    print("Yes",a.count('apple'))

Yes 1

In [4]:
a=(1,2,3,4)
a*2
#*= repeat 2 times

(1, 2, 3, 4, 1, 2, 3, 4)

In [6]:
def cal(x):
    l,b,h=x
    print(l*b*h)
x=(2,4,2)
cal(x)

16

In [7]:
a=(1,2,4,5,3,6,4,2)
a.append('8')

AttributeError: 'tuple' object has no attribute 'append'

In [8]:
a=(5,5,8,7,4,1,2)
a.remove(1)
#donot allow remove and delete ,replace

AttributeError: 'tuple' object has no attribute 'remove'

In [9]:
#tuple inside tuple
a=((1,2,3,4,5,6),(5,8,4,7),(8,2,0,1))
type(a)
print(len(a))

3

In [11]:
a=()
b=(1,2,3)
c=(5,7)
a+(b,)+(c)

((1, 2, 3), 5, 7)

In [12]:
a=()
b=(1,2,3)
c=(5,7)
a+(b,)+(c,)

((1, 2, 3), (5, 7))

In [14]:
a=()
b=(1,2,3)
c=(5,7)
d=()
(c,)+(b,)+(d,)+a

((5, 7), (1, 2, 3), ())

In [1]:
a=()
for i in range(2):
    b=int(input("Enter b= "))
    c=(b,)
    a=(c,)+a
print(a)

Enter b= 4
Enter b= 6
((6,), (4,))

In [1]:
a=()
for i in range(2):
    name=input("Enter name = ")
    age=input("Enter age= ")
    add=input("Enter address =")
    c=(name,age,add)
    a=(c,)+a
print(a)

Enter name = ram
Enter age= 32
Enter address =ktm
Enter name = sam
Enter age= 21
Enter address =bhak
(('sam', '21', 'bhak'), ('ram', '32', 'ktm'))

In [2]:
a=()
n=int(input("Enter n="))
for i in range(n):
    name=input("Enter name = ")
    age=input("Enter age= ")
    add=input("Enter address =")
    c=(name,age,add)
    a=(c,)+a
print(a)

Enter n=1
Enter name = puspa
Enter age= 22
Enter address =ktm
(('puspa', '22', 'ktm'),)

In [3]:
#()=tuple represents

#list inside tuple

x=(['ram','32','ktm'],['sam','54','btk'])

In [1]:
a=()
n=int(input("Enter n="))
for i in range(n):
    name=input("Enter name = ")
    age=input("Enter age= ")
    add=input("Enter address =")
    c=[name,age,add]
    a=(c,)+a
print(a)

Enter n=3
Enter name = ram
Enter age= 54
Enter address =ktm
Enter name = dad
Enter age= 54
Enter address =dol
Enter name = bik
Enter age= 87
Enter address =gok
(['bik', '87', 'gok'], ['dad', '54', 'dol'], ['ram', '54', 'ktm'])

In [3]:
x=(['ram','32','ktm'],['sam','54','btk'])
x[0]

['ram', '32', 'ktm']

In [4]:
#test to see if changeable or not
x=(['ram','32','ktm'],['sam','54','btk'])
x[0]='sam'

TypeError: 'tuple' object does not support item assignment

In [5]:
x=(['ram','32','ktm'],['sam','54','btk'])
x[0].append('samkum')
x

(['ram', '32', 'ktm', 'samkum'], ['sam', '54', 'btk'])

In [12]:
x=[('ram','32','ktm'),('sam','54','btk')]
x[0]+('saco',)
x
#immutable so not changed

[('ram', '32', 'ktm'), ('sam', '54', 'btk')]

In [9]:
#change tuple into list
a=(1,2,34,4)
a=list(a)
a.append(5)
tuple(a)

(1, 2, 34, 4, 5)

In [14]:
z=[]
x=(('ram','32','ktm'),('sam','54','btk'))
for i in range(len(x)):
    y=list(x[i])
    z.append(y)
print(z)

[['ram', '32', 'ktm'], ['sam', '54', 'btk']]

In [ ]:
x=[('ram','32','ktm'),('sam','54','btk')]
x[0]+('saco',)

In [25]:
n=int(input("Enter value of n= "))
z=[]
#x=(('ram','32','ktm'),('sam','54','btk'))
for i in range(n):
    name=input("Enter name=")
    age=input("Enter age")
    y=[name,age]
    z.append(y)
print(z)

Enter value of n= 1
Enter name=sd
Enter age87
[['sd', '87']]

In [27]:
n=int(input("Enter value of n= "))
z=[]
#x=(('ram','32','ktm'),('sam','54','btk'))
for i in range(n):
    name=input("Enter name=")
    age=input("Enter age")
    y=[name,age]
    z.append(y)
print(z)

Enter value of n= 2
Enter name=hj
Enter agehu
Enter name=hju
Enter agehi
[['hj', 'hu'], ['hju', 'hi']]