In [1]:
try:
    a=open("Onlineclass.csv","x")
except:
    print("Error")

In [5]:
try:
    a=open("Onlineclass.csv",'w')
   # b.write("Name,Age,Phone_no,Address\n")
    n=int(input("enter no of rows= "))
    for i in range(n):
        name=input("Enter name=")
        age=input("Eneter age=")
        add=input("Enter add=")
        info=f"{name},{age},{add}\n"
        b=a.write(info)
    a.close()
except:
    print("Error occured")

enter no of rows= 3
Enter name=Puspa
Eneter age=22
Enter add=kir
Enter name=Budda
Eneter age=28
Enter add=kir
Enter name=aalok
Eneter age=10
Enter add=dol

In [13]:
import pandas as pd

df=pd.read_csv("Onlineclass.csv",index_col=0)
df.head()

         Name  Age        Address
S.N
1       Puspa   22            kir
2       Budda   28            kir
3       aalok   10            dol
4    Shrijana   26  Sindhupalchok
5       sudip   17            dol

In [14]:
import pandas as pd

df=pd.read_csv("Onlineclass.csv",index_col=1,usecols=['S.N','Name','Address'])
df.head()

          S.N        Address
Name
Puspa       1            kir
Budda       2            kir
aalok       3            dol
Shrijana    4  Sindhupalchok
sudip       5            dol

In [17]:
import pandas as pd

df=pd.read_csv("Onlineclass.csv",index_col=0)
df=df[df['Name']=='sudip']
df.head()

      Name  Age Address
S.N
5    sudip   17     dol

In [27]:
import pandas as pd

df=pd.read_csv("Onlineclass.csv",index_col=0)
df=df[(df['Name']=='sudip') | (df['Age']>20)]
df.head()

         Name  Age        Address
S.N
1       Puspa   22            kir
2       Budda   28            kir
4    Shrijana   26  Sindhupalchok
5       sudip   17            dol