In [1]:
a="Hello universe"
print(a)

Hello universe

In [2]:
type(a)

str

In [3]:
a="Hello universe"
b="I am puspa"
a+b

'Hello universeI am puspa'

In [4]:
a="Hello universe\n"
print(a*5)

Hello universe
Hello universe
Hello universe
Hello universe
Hello universe

In [7]:
#Immutable
#Cant be change only read
#- last element
a="I am Puspa"
print(a[0])
print(a[-1])

I
a

In [9]:
#[0:5]=0 to 5 char [5:]-after five
a="Hello universe"
x=a[0:5]
y=a[5:]
print(x)
print(y)

Hello
 universe

In [10]:
a="Hello universe"
print(len(a))

14

In [11]:
a="Hello universe"
for i in a:
    print(i)

H
e
l
l
o

u
n
i
v
e
r
s
e

In [13]:
u=""
n= int(input("Enter the value of n:"))
for i in range(n):
    x=input("Enter name= ")
    u=u+" "+x
print(u)

Enter the value of n:3
Enter name= puspa
Enter name= lal
Enter name= shrestha
 puspa lal shrestha

In [1]:
u=""
n= int(input("Enter the value of n:"))
for i in range(n):
    name=input("Enter name= ")
    age=int(input("Enter your age "))
    address=input("Enter address ")
    u=u+f"{name} {age} {address},"
print(u)

Enter the value of n:2
Enter name= ram
Enter your age 12
Enter address kirti
Enter name= sam
Enter your age 34
Enter address patan
ram 12 kirti,sam 34 patan,

In [4]:
a="hi"
b="I am puspa"
c=f"Hello {a} {b}"
print(c)

Hello hi I am puspa

In [6]:
u.split(',')

['ram 12 kirti', 'sam 34 patan', '']

In [8]:
x=u.split(',')
print(x[0])

ram 12 kirti

In [9]:
x=u.split(',')
print(x[0].split())

['ram', '12', 'kirti']

In [10]:
a="Ram Sam Hari Gopal"
a.replace("Ram","Sita")

'Sita Sam Hari Gopal'

In [1]:
x="Ram Sam Hari Gopal"
a=input("Enter what to replace: ")
b=input("Enter any word: ")
x.replace(a,b)

Enter what to replace: Sam
Enter any word: Ria

'Ram Ria Hari Gopal'

In [4]:
a="Ram Sam Hari Gopal"
if 'Sam' in a:
    print("Yes")
else:
    print("No")

Yes

In [5]:
#countfunction
a.count("Ram")

1

In [6]:
a="Ram Sam Hari Gopal"
if 'Sam' in a:
    print("Yes",a.count('Ram'))
else:
    print("No")

Yes 1