In [1]:
#tuple=Immutable=not changeable

In [2]:
a=(1,2,3,4,5)
print(a)
print(type(a))

(1, 2, 3, 4, 5)
<class 'tuple'>

In [3]:
tuple('sdfvcsaf')

('s', 'd', 'f', 'v', 'c', 's', 'a', 'f')

In [4]:
list('mdnsjsjbbd')

['m', 'd', 'n', 's', 'j', 's', 'j', 'b', 'b', 'd']

In [5]:
a=(1,2,3,4,5,6)
a[0]

1

In [7]:
a=(1,2,3,4,5,6)
a[0:5]

(1, 2, 3, 4, 5)

In [8]:
a=(1,2,3,4,5,6)
a[0:5:2]

(1, 3, 5)

In [10]:
a=('Apple')
type(a)

str

In [11]:
a=('ball',)
type(a)

tuple

In [13]:
a=('all','boss')
b=('are_good',)
a+b

('all', 'boss', 'are_good')

In [14]:
a=()
for i in range(5):
    b=int(input("Enter b= "))
    a=a+(b,)
print(a)

Enter b= 5
Enter b= 2
Enter b= 4
Enter b= 1
Enter b= 3
(5, 2, 4, 1, 3)

In [15]:
a=()
for i in range(5):
    b=int(input("Enter b= "))
    a=(b,)+a
print(a)

Enter b= 5
Enter b= 4
Enter b= 7
Enter b= 8
Enter b= 6
(6, 8, 7, 4, 5)

In [ ]:
a=()
for i in range(5):
    b=int(input("Enter b= "))
    a=(b,)+a
print(a)

In [1]:
min(54,54,87,95,63,21)
max(21,24,52,.65,54)

54

In [2]:
a=('apple','ball','cat')
for i in a:
    print(i)

apple
ball
cat

In [3]:
a=('apple','ball','cat')
if 'apple' in a:
    print("Yes",a.count('apple'))

Yes 1

In [4]:
a=(1,2,3,4)
a*2
#*= repeat 2 times

(1, 2, 3, 4, 1, 2, 3, 4)

In [6]:
def cal(x):
    l,b,h=x
    print(l*b*h)
x=(2,4,2)
cal(x)

16

In [7]:
a=(1,2,4,5,3,6,4,2)
a.append('8')

AttributeError: 'tuple' object has no attribute 'append'

In [8]:
a=(5,5,8,7,4,1,2)
a.remove(1)
#donot allow remove and delete

AttributeError: 'tuple' object has no attribute 'remove'